# Python compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node modules
node_modules/

# Build output
public/build/
dist/

# Svelte local configuration
.svelte-kit/

# Environment variables
.env
